.width_page{
  width: 1140px;
}
.font__size-14-22 {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.font__size-16-22 {
  font-size: 16px;
  line-height: 22px;
}
.font__size-18-26 {
  font-size: 18px;
  line-height: 26px;
}
.font__size-18-30 {
  font-size: 18px;
  line-height: 30px;
}
.font__size-20-25 { /* a*/
  font-size: 20px;
  line-height: 25px;
}
.font__size-22-26{
  font-size: 22px;
  line-height: 26px;
}
.font__size-20-28 { /* a*/
  font-size: 20px;
  line-height: 28px;
}
.font__size-22-26{
  font-size: 22px;
  line-height: 26px;
}
.font__size-22-28 {
  font-size: 22px;
  line-height: 28px;
}
.font__size-22-32 { /* a*/
  font-size: 22px;
  line-height: 32px;
}
.font__size-22-34 { /* a*/
  font-size: 22px;
  line-height: 34px;
}
.font__size-24-30 {
  font-size: 24px;
  line-height: 30px;
}
.font__size-24-34 {
  font-size: 24px;
  line-height: 34px;
}
.font__size-40-40 {
  font-size: 40px;
  line-height: 40px;
}
.font__size-56 {
  font-size: 56px;
  line-height: 56px;
}
.font__size-80-78{
  font-size: 80px;
  line-height: 78px;
}
.color {
  color: rgba(43, 41, 45, 0.6);
}
.color--blue {
  color: #3040c4;
}

.mr_r-80 {
  margin-right: 80px;
}
.mr_0 {
  margin: 0;
}
.mr_bt-5 {
  margin-bottom: 5px;
}
.mr_bt-12{
  margin-bottom: 12px;
}
.mr_bt-16 {
  margin-bottom: 16px;
}
.mr_bt-20 {
  margin-bottom: 20px;
}
.mr_bt-24 {
  margin-bottom: 24px;
}
.mr_bt-26 {
  margin-bottom: 26px;
}
.mr_bt-28 {
  margin-bottom: 28px;
}
.mr_bt-30 {
  margin-bottom: 30px;
}
.mr_bt-34 {
  margin-bottom: 34px;
}
.mr_bt-39 {
  margin-bottom: 39px;
}
.mr_bt-44 {
  margin-bottom: 44px;
}
.mr_bt-58 {
  margin-bottom: 58px;
}
.mr_r-10{
  margin-right: 10px;
}.mr_r-20{
  margin-right: 20px;
}
.mr_r-126{
  margin-right: 130px;
}
.mr_r-121{
  margin-right: 121px;
}
.mr_t-16{
  margin-top:16px;
}
.mr_t-22{
  margin-top:22px;
}
.mr_l-15{
  margin-left: 15px;
}
.pd_b-22{
  padding-bottom: 22px;
}
.pd_r-30{
  padding-right: 30px;
  box-sizing: border-box
}
.style_bold {
  font-weight: bold;
}
