.header__introduce {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 80px;
}
.header__intro{
  position: relative;
  z-index: 1;
}
.header__introduce img {
  position: absolute;
  top: 0;
  right: -105px;
}
.header__title {
  width: 754px;
}
.header__about {
  width: 456px;
}
