.header__menu {
  display: inline-block;
}
.header__menu > ul {
  margin: 0 46px 0 0;
}
.header__items {
  display: inline-block;
  font-size: 18px;
  margin: 0 20px;
}
.header__items a:hover{
  font-weight: bold;
}
.header__items i {
  font-size: 11px;
}
.header__items--position {
  position: relative;
}
.iteams__hover {
  position: absolute;
  height: 50px;
  width: 100px;
  right: -10px;
}





