
.footer__logo {
  height: 50px;
}
.footer__logo--background {
  background: linear-gradient(137.55deg, #3142c6 4.08%, #af61d1 100%);
}

.footer__intro {
  text-align: justify;
  width: 360px;
}
.footer__intro--width {
  color: rgba(43, 41, 45, 0.6);
}
.footer__nav {
  display: flex;
}
.nav__list {
  padding: 0;
}
.nav__list a {
  color: rgba(43, 41, 45, 0.6);
}
.nav__list li {
  margin: 10px 0;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 15px 130px;
  border-top: 1px solid rgba(43, 41, 45, 0.1);
}
.footer__social li {
  display: inline-block;
}
.footer__license a {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  margin: 10px;
}
.social__icon span {
  margin: 10px;
  opacity: 0.6;
}
