.content__intro {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 77px 0;
}
.content__intro--color{
  background: #f4f5f7;
}
.intro__content {
  width: 555px;
  height: 100px;
}
