.quote__img {
  text-align: center;
  margin: 0 190px;
}

.quote__about {
  width: 460px;
}
.quote__about h3 {
  color: #f1592b;
}
.quote__avatar {
  width: 40px;
}
.quote__info--display  {
  display: flex;
  align-items: center;
}
