.hiring__about {
  width: 555px;
}
.hiring__list {
  margin-top: 110px;
}
.hiring__items {
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: 80px;
  padding: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  box-sizing: border-box;
  transition: .5s;
}
.hiring__items a:nth-child(1) {
  font-weight: bold;
  width: 410px;
  color: black;
  text-align: start;
}
.hiring__items span {
  color: #2b292d;
}
.hiring__items:hover {
  background: #3141c5;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07),
  0px 13px 18px rgba(0, 0, 0, 0.15);
}
.hiring__items:hover a, .hiring__items:hover span, .hiring__items:hover i {
  color: white;
}
