.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
}
.TodoList {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  width: 100%;
  box-sizing: border-box;

}
.TodoItem {
  display: flex;
  border-bottom: 1px solid #cacaca;
  /* justify-content: center; */
  margin: 0;
  padding: 5px 10px;
}
.Header{
  width: 100%;
}
.Header input {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  outline: none;
}
.TodoItem_complete {
  text-decoration: line-through;
  text-transform: initial;
  color: #aaaaaa;
}
