.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  background-color: white;
  padding: 8px;
  border-radius: 14px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.header__name {
  display: inline-block;
  margin: auto 10px;
}
.header__menu {
  display: inline-block;
}
